<%= render 'search_results'%>

<div class="container">
    <div class="row">
        <h2 class="text-center">All Albums
        </h2>
        <hr/>
    </div>
    <div class="row">

        <% @albums.each do |album| %>

        <div id="album_<%= album.id %>" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h4>
                    <% if user_signed_in? %>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="viewed"><%= link_to 'Edit', edit_album_path(album) %>
                        </span>
                        <span data-toggle="tooltip" title="viewed"><%= link_to '✕', album_path(album), method: :delete, remote: true, class: 'delete_post' %>
                        </span>
                    </span>
                    <% end %>
                </h4>
                <%= link_to(album_path(album)) do %>
                  <%= image_tag album.title_photo %>
                <% end %>
                <p><%= album.title.capitalize %></p>
                <div class="clearfix"></div>
            </div>
        </div>
        <% end %>

    </div>

</div>

<center>
    <%= will_paginate @albums, renderer: BootstrapPagination::Rails %>
</center>
