<%= form_for [@album, @photo], remote: true, authenticity_token: true do |f| %>

  <div class="field">
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :picture %> <br>
    <%= f.file_field :picture, id: :photo_picture %>

  </div>
  <div class="actions">
    <%= f.submit %>
    or
    <%= link_to 'Cancel', album_path(@album) %>
  </div>
<% end %>
