<%= image_tag @photo.picture_url(:thumb) if @photo.picture.present?%> <br>
<%= @photo.title %>
<%= @photo.description %>
<p>
  <%= link_to @album.title, @album %>
  /
  <%= @photo.title %>
</p>
<%= link_to 'Edit', edit_album_photo_path(@album, @photo) %>
